@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html, body {
  height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* .header, .main, .hero, .advantages, .search, .filter, .catalog, .subscribe, .footer  {
  display: block;
} */

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
}




<!-- ------- header ------- -->

header.main-header {
  flex-shrink: 0;
}

.header {
  display: flex;
  width: 75rem;
  height: 4rem;
  padding: 0rem 4.375rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

}

.navigation-button {
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  min-width: 160px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.navigation-link {
  background-color: #F2F2F2;
  text-decoration: none;
}


<!-- ------- hero ------- -->

.hero {
  color: #ffffff;
  background-color: DarkSeaGreen;
  background-image: url("../images/content-fon/mountans.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo {
  width: 458px;
  height: 352px;
  position: relative;
}


<!-- ------- advantages ------- -->

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}


