@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
}

.page-container {
  with: 1200px;
  margin: 0 auto;
  background-color: "fff";
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}


<!-- ------- заголовки ------- -->

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
}


<!-- ------- header ------- -->


.main-header {

}

nav.navigation {
  background: #fff;
  display: flex;
	align-items: start;
	padding: 0 70px;
	position: relative;
	z-index: 1;
}

.main-header-logo {
  width: 140px;
  height: 70px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
	color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-link-current {
  box-sizing: border-box;
  border-style: solid;
  border-color: #756257;
  border-width: 0 0 2px 0;
  position: relative;
  width: 100%;
}

.user-favorite-count {
  border-radius: 10px;
  background: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.navigation-button {
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  min-width: 160px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.navigation-button:hover,
.navigation-button:focus {
	background: #615048;
}

.navigation-button:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}


<!-- .main {
  background-color: #82B3D3;
  color: #fff;
} -->

<!-- ------- hero ------- -->

.hero-logo {
  height: 485px;
  background-image: url("../images/zig-zag.png"), url("../images/content-fon/mountans.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-color: #2672c3;
  color: black;
  background-position: center bottom;
}

<!-- ------- advantages ------- -->

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}


<!-- ------- interest ------- -->

.search-hotel-button{
  background: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; 
  padding: 96px 304px;
  position: relative;
  border: none;
}


<!-- ------- mailing ------- -->

.mailing{
  background-image: url("../images/content-fon/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2672c3;
  color: #fff;
  text-align: center;
  padding: 96px 258px 104px
}

.mailing-form-input{
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
}
.mailing-button{
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
}

.mailing-subscribe{
  background-image:  url("../images/content-fon/subscribe.jpg");
  background-color: #fff;
  background-size: cover;
}

.mailing-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


<!-- ------- mailing ------- --> 

.main-footer{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-tel{
  color: #000;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}







<!-- ------- catalog-page ------- -->

<!-- ------- catalog-page - search  ------- -->

.search {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-link{
  color: #FFF;
  font-size: 16px;
}


<!-- ------- catalog-page - catalog-filter  ------- -->

.search {
  background-image: url('../images/content-fon/filter');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2672c3;
  color: #000;
}

.search-title{
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}


<!-- ------- catalog-page - catalog-results  ------- -->

.catalog-results {
  color:  #FFF;
}
.catalog-results-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-results-title{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-results-label{
  line-height: 23px;
}

.catalog-results-price{
  color: #000;
  line-height: 24px;
}
.console-panel-title{
  text-align: left;
}

.search-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-card{
  color: #333;
}

.search-card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.search-card-link{
  color: #000;
  text-decoration: none;
}
.hotel-cards-rating{
  color: #333;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-cards-link img{
  vertical-align: middle
}

.select-type-list{
  list-style: none;
}


<!-- ------- pagination  ------- -->

.pagination {
  width: 1060px;
	margin: 0 auto;
	margin-bottom: 156px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
}

.pagination-link {
	min-width: 60px;
	height: 60px;
	padding: 0 10px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	background-color: #82B3D3;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}

.pagination-link:hover {
	background-color: #68A2CA;
}

.pagination-link:focus {
	background-color: #68A2CA;
}

.pagination-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.pagination-next {
	background-color: #FFF;
	color: #000;
}

.pagination-next:hover,
.pagination-link:focus {
	background-color: #F2F2F2;
}

.pagination-next:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #F2F2F2;
}
