@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}


/* ------- header ------- */

.main-navigation {
  background: #ffffff;
  display: flex;
	padding: 0 70px;
	position: relative;
	z-index: 1;
}

.main-header-logo {
  width: 140px;
  height: 70px;
}

.main-header-logo img {
  position: relative;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover,
.navigation-link:focus {
	color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-link-current {
  box-sizing: border-box;
  border-style: solid;
  border-color: #756257;
  border-width: 0 0 2px 0;
  position: relative;
  width: 100%;
}

/* ------- header - icon search ------- */
.icon-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
  color: #000000;
}

.icon-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}

/* ------- header - icon heart ------- */
.icon-heart{

}

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}
.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-10px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}
.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

/* ------- header - green round ------- */
.user-favorite-count {
  border-radius: 10px;
  background: #7DB54F;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  position: inherit;
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}

/* ------- header - button ------- */
.navigation-button {
  background: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  min-width: 160px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-button:hover,
.navigation-button:focus {
	background: #615048;
}

.navigation-button:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}


/* ------- hero ------- */

.hero-logo {
  height: 485px;
  background-image: url("../images/content-fon/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-color: #a426c3;
  color: black;
  background-position: center bottom;
}


/* ------- advantages ------- */

section.advantages {
  background-color: #ffffff;
}

li.advantages-item-infrastructure {
  background-color: #82B3D3;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  color: #333;
}

h3.advantages-title-cards {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

p.advantages-title-cards-text{
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}

.advantages-homes {
  min-width: 800px;
  height: auto;
}

li.advantages-item h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

li.advantages-item p {
  color: #000;
  font-size: 18px;
  line-height: 21px;
}

li.advantages-item-text h3 {
  color: #ffffff;
}

li.advantages-item-text p {
  color: #ffffff;
}

li.advantages-item-homes, li.advantages-item-bridge {
  background-color: #82B3D3;
}

li.advantages-item-square, li.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

li.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.20);
}


/* ------- services ------- */

section.services {
  background-color: white;
  padding: 64px 0px;
  align-items: center;
  align-self: stretch;
}

.services h2 {
  min-width: 505px;
  height: auto;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services p {
  width: auto;
  height: auto;
  color: #000;
  font-size: 24px;
  line-height: 28px;
}

li.services-item.services-item-housing p,
li.services-item.services-item-souvenirs p,
li.services-item.services-item-meal p {
  align-self: stretch;
  color: #333;
  font-size: 18px;
  line-height: 21px;
}

li.services-item h2 {
  align-self: stretch;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}

.services-subtitul{
  font-weight: 700;
}

/* ------- services - button ------- */
.search-hotel-button{
  background: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 96px 304px;
  position: relative;
  border: none;
}

/* ------- interest ------- */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: none;
  place-items: center;
}

.modal-inner {
  background-color: #000;
  display: block;
  padding: 20px;
  overflow: auto;
  border-radius: 10px;
  max-height: 90px;
}

.



/* ------- mailing ------- */

section.mailing {

}

.mailing-subscribe-catalog p, h2 {
  background-size: cover;
  color: #000;
}



.mailing{
  background-repeat: no-repeat;
  color: white;
  padding: 96px 258px 104px 258px;
}

.mailing-form-name {
  box-sizing: border-box;
  border-radius: 4px 0px;
  padding: 12px 20px;
  overflow: hidden;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.mailing-form-input{
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
}

.button-mailing{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background: #82b3d3;
  padding: 8px 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mailing-subscribe{
  background-image:  url("../images/content-fon/subscribe.jpg");
  background-color: #fff;
  background-size: cover;
}

.mailing-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

input#user-email {
  font-size: 20px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background: #82b3d3;
  padding: 8px 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* ------- footer ------- */

.main-footer{
  box-sizing: border-box;
  background: #fff;
  min-height: 120px;
  position: relative;
  list-style: none;
  padding: 70px 40px 70px 30px;
  margin: 0;
}

.text-phone{
  color: black;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  min-width: 331px;
  min-height: 40px;
}

.logo-html {
  min-width: 115px;
  min-height: 33px;
}



/* ------- catalog-page ------- */

/* ------- catalog-page / search  ------- */

.search {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-link{
  color: #FFF;
  font-size: 16px;
}

/* ------- catalog-page / catalog-filter  */

.search {
  background-image: url('../images/content-fon/filter');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2672c3;
  color: #000;
}

.search-title{
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* ------- catalog-page / catalog-results  ------- */

.catalog-results {
  color:  #FFF;
}
.catalog-results-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-results-title{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-results-label{
  line-height: 23px;
}

.catalog-results-price{
  color: #000;
  line-height: 24px;
}
.console-panel-title{
  text-align: left;
}

.search-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-card{
  color: #333;
}

.search-card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.search-card-link{
  color: #000;
  text-decoration: none;
}
.hotel-cards-rating{
  color: #333;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-cards-link img{
  vertical-align: middle
}

.select-type-list{
  list-style: none;
}


/* ------- pagination  ------- */

.pagination {
  width: 1060px;
	margin: 0 auto;
	margin-bottom: 156px;
}
.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
}
.pagination-link {
	min-width: 60px;
	height: 60px;
	padding: 0 10px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	background-color: #82B3D3;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}

.pagination-link:hover {
	background-color: #68A2CA;
}

.pagination-link:focus {
	background-color: #68A2CA;
}

.pagination-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.pagination-next {
	background-color: #FFF;
	color: #000;
}

.pagination-next:hover,
.pagination-link:focus {
	background-color: #F2F2F2;
}

.pagination-next:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #F2F2F2;
} -->
