@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html, body {
  height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* .header, .main, .hero, .advantages, .search, .filter, .catalog, .subscribe, .footer  {
  display: block;
} */

header.main-header {
  color: black;
  background: #F2F2F2;
  padding: 0px 40px;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: black;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: none;
}




.hero {
  color: #ffffff;
  background-color: #3f1414;
  background-image: url("../images/content-fon/mountans.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


